body{
  font-family: monospace sans-serif;
}


.logo{
  height: 40px;
  width: 111px;
  display: flex;
  padding: 20px 20px;
}

nav{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.intro-img{
  padding: 20px 25vw;
  display: flex;
  align-items: center;
  text-align: center;
}

.intro{
  padding: 20px;
  align-items: center;
  text-align: left;
}

.intro-header{
  font-family: monospace;
  font-size: 30px;
  margin: 10px 25vw;
}

.intro-description{
  font-size: 20px;
  font-family: monospace;
  margin: 0px 25vw;
}

.card{
  width: 175px;
  font-size: 12px;
  font-family: monospace;
  margin: 0px 26.5vw;
}

.card h2  {
  font-size: 12px;
  font-weight: normal;
}

.card-image{
  width: 100%;
}

.card-stat{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.card-star{
  width: 15px;
  padding-right: 6px;
}

.gray{
  color: rgb(129, 127, 127);
  padding-left: 6px;
}

.cost{
  font-weight: bold;
}