body{
  font-family: monospace sans-serif;
}


.logo{
  height: 40px;
  width: 111px;
  display: flex;
  padding: 20px 20px;
}

nav{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.intro-img{
  padding: 20px 25vw;
  display: flex;
  align-items: center;
  text-align: center;
}

.intro{
  padding: 20px;
  align-items: center;
  text-align: center;
}

.intro-header{

}